.card-title {
  font-weight: bold;
  color: #333;
}

.card-text {
  font-style: italic;
  color: #555;
}

.card {
  border-radius: 10px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}


/* Style pour la barre de recherche */
input[type="search"] {
  max-width: 300px;
  border-radius: 25px;
  padding-left: 1rem;
  transition: box-shadow 0.3s ease;
}

input[type="search"]:focus {
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  border-color: #007bff;
  outline: none;
}