.card-title {
  font-weight: bold;
  color: #333;
}

.card-text {
  font-style: italic;
  color: #555;
}

.card {
  border-radius: 10px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}


/* Style pour la barre de recherche */
input[type="search"] {
  max-width: 300px;
  border-radius: 25px;
  padding-left: 1rem;
  transition: box-shadow 0.3s ease;
}

input[type="search"]:focus {
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  border-color: #007bff;
  outline: none;
}

/* Par défaut (mobile): 1 colonne */
.col-custom {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0.5rem; /* Ajoute un peu d'espace entre les cartes */
}

/* Dès 800px: 2 colonnes */
@media (min-width: 800px) {
  .col-custom {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* Dès 1200px: 3 colonnes */
@media (min-width: 1200px) {
  .col-custom {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}
