.card-title {
  font-weight: bold;
  color: #333;
}

.card-text {
  font-style: italic;
  color: #555;
}

.card {
  border-radius: 10px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}


/* Style pour la barre de recherche */
input[type="search"] {
  max-width: 300px;
  border-radius: 25px;
  padding-left: 1rem;
  transition: box-shadow 0.3s ease;
}

input[type="search"]:focus {
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  border-color: #007bff;
  outline: none;
}

/* Par défaut (mobile): 1 colonne */
.col-custom {
  flex: 0 0 100%;
  max-width: 100%;
  /* padding: 0.5rem; Ajoute un peu d'espace entre les cartes */
}

/* Dès 800px: 2 colonnes */
@media (min-width: 800px) {
  .col-custom {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* Dès 1200px: 3 colonnes */
@media (min-width: 1200px) {
  .col-custom {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

/*  */

.drive-style-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px; 
}

.file-card {
  width: 150px;
  height: 150px;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  cursor: pointer;
  transition: box-shadow 0.3s, transform 0.2s;
}

.file-card:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  transform: translateY(-3px);
}

.file-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.file-name {
  font-size: 14px;
  text-align: center;
  color: #333;
  font-weight: 500;
}
