<div class="login-container">
  <div class="box">
    <span class="borderLine"></span>
    <form (ngSubmit)="onSubmit()">
      <h2>Sign up</h2>

      <div class="inputBox">
        <input type="text" [(ngModel)]="firstName" name="firstName" required />
        <span>First Name</span>
        <i></i>
      </div>

      <div class="inputBox">
        <input type="text" [(ngModel)]="lastName" name="lastName" required />
        <span>Last Name</span>
        <i></i>
      </div>

      <div class="inputBox">
        <input type="text" [(ngModel)]="email" name="email" required />
        <span>Email</span>
        <i></i>
      </div>

      <div class="inputBox">
        <input type="password" [(ngModel)]="password" name="password" required />
        <span>Password</span>
        <i></i>
      </div>

      <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>

      <div class="links">
        <a href="/admin/login">Already have an account?</a>
      </div>

      <input type="submit" id="submit" value="Register" />
    </form>
  </div>
</div>
