<h2>Uploader un DataSet</h2>

<form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <label for="name">Nom :</label>
    <input type="text" [(ngModel)]="name" name="name" required><br><br>

    <label for="description">Description :</label>
    <textarea [(ngModel)]="description" name="description" required></textarea><br><br>

    <label for="memberUuid">Organisation Member UUID :</label>
    <input type="text" [(ngModel)]="dataProviderOrganisationMemberUuid" name="dataProviderOrganisationMemberUuid" required><br><br>

    <div class="mb-3">
    <label for="themeUuid" class="form-label">Thème :</label>
    <select [(ngModel)]="themeUuid" name="themeUuid" class="form-select" required>
        <option value="" disabled selected>-- Sélectionnez un thème --</option>
        <option *ngFor="let theme of themes" [value]="theme.uuid">
        {{ theme.name }}
        </option>
    </select>
    </div>

    <h3>Télécharger un modèle Excel</h3>
    <app-file></app-file> 


    <label for="file">Fichier :</label>
    <input type="file" (change)="onFileSelected($event)" required><br><br>

    <button type="submit">Envoyer</button>
</form>
